<div class="form-box col-md-8">
  <h2>プロフィール編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :image, "画像" %><br>
      <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "mb-1" %>
      <% if f.object.image.attached? %>
        <%= f.hidden_field :original_image, id: "original_image", value: f.object.image.signed_id %>
        <%= image_tag f.object.show_image, id: "default_preview" %>
      <% end %>
      <img id="preview">
      <%= f.hidden_field :x, autocomplete: "x" %>
      <%= f.hidden_field :y, autocomplete: "y" %>
      <%= f.hidden_field :width, autocomplete: "width" %>
      <%= f.hidden_field :height, autocomplete: "height" %>
    </div>

    <div class="field">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :self_introduction, "自己紹介" %>
      <%= f.text_area :self_introduction, autofocus: true, autocomplete: "self_introduction" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %> <i>(変更したい場合のみ)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em>最小 <%= @minimum_password_length %> 文字から</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "新しいパスワード(確認)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "今のパスワード" %> <i>(変更したい場合、入力してください)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "更新", id: "user_update_button" %>
    </div>
  <% end %>

  <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete, id: "logout_button" %></p>
  <p><%= button_to "アカウント削除", registration_path(resource_name),
                   data: { confirm: "本当に削除しますか？" },
                   method: :delete, id: "user_delete_button" %></p>

  <%= link_to "Back", :back %>
</div>
