<div class="job-content">
  <h3><%= job.title %></h3>
  <div class="card mt-4">
    <div class="card-header">
      <strong>発注者</strong>
    </div>
    <div class="card-body user-box">
      <%= render 'shared/mini_user', user: job.user %>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      <strong>報酬</strong>
    </div>
    <div class="card-body">
      <% if job.reward_type.present? %>
        <p><%= show_reward(job) %></p>
      <% else %>
        <p><%= job.pay %></p>
      <% end %>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      <strong>説明</strong>
    </div>
    <div class="card-body">
      <p><%= safe_join(job.explanation.split("\n"), tag(:br)) %></p>
    </div>
  </div>
</div>
