<div class="form-box col-md-8">
  <h2>求人編集</h2>

  <%= form_with(model: @job, remote: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: f.object %>

    <div class="field">
      <%= f.label :title, "仕事名 (30文字以内)" %>
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>

    <div class="field">
      <%= f.label :pay, "報酬 (30文字以内)" %>
      <%= f.text_field :pay, autocomplete: "pay" %>
    </div>

    <div class="field">
      <%= f.label :explanation, "説明 (2000文字以内)" %>
      <%= f.text_area :explanation, autocomplete: "explanation" %>
    </div>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>
  <p><%= button_to "削除", job_path(@job), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>
</div>
