<div class="form-box col-md-8">
  <h2>求人編集</h2>

  <%= form_with(model: @job, local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: f.object %>

    <div class="field">
      <%= f.label :title, "仕事名 (30文字以内)" %>
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>

    <div class="field">
      <%= f.label :reward_type, "報酬" %>
      <%= f.select :reward_type,
                   { "時給": 1, "日給": 2, "成果報酬": 3, "要相談": 4 },
                   { include_blank: "選択してください" } %>
      <br>
      <%= f.number_field :reward_min_amount %>
      円　〜
      <%= f.number_field :reward_max_amount %>
      円
    </div>

    <div class="field">
      <%= f.label :explanation, "説明 (2000文字以内)" %>
      <%= f.text_area :explanation, autocomplete: "explanation" %>
    </div>

    <div class="actions">
      <%= f.submit "更新", id: "job_update_button" %>
    </div>
  <% end %>
  <p><%= button_to "削除", job_path(@job),
                   data: { confirm: "本当に削除しますか？" },
                   method: :delete, id: "job_delete_button" %></p>
</div>
