<div class="main-contents col-md-8">
  <div class="form-box">
    <%= search_form_for @q do |f| %>
      <div class="field">
        <%= f.label :title_or_explanation_cont, "キーワード" %>
        <%= f.search_field :title_or_explanation_cont %>
      </div>
      <div class="field">
        <%= f.label :reward_type_eq, "報酬" %>
        <%= f.select :reward_type_eq,
                     { "時給": 1, "日給": 2, "成果報酬": 3 },
                                   { include_blank: "選択してください" } %>
        <br>
        <%= f.number_field :reward_min_amount_gteq %>
        円〜
        <%= f.number_field :reward_max_amount_lteq %>
        円
      </div>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class="jobs-box my-5">
    <%= will_paginate %>
    <div class="jobs">
      <%= render @jobs %>
    </div>
    <%= will_paginate %>
  </div>
</div>
