<div class="main-contents col-md-8">
  <div class="job mt-2">
    <div class="job-content-detail">
      <h3><%= @job.title %></h3>
      <div class="card mt-4">
        <div class="card-header">
          <strong>発注者</strong>
        </div>
        <div class="card-body">
          <p><%= link_to @user.name, user_path(@user) %></p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <strong>報酬</strong>
        </div>
        <div class="card-body">
          <p><%= @job.pay %></p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <strong>説明</strong>
        </div>
        <div class="card-body">
          <p><%= safe_join(@job.explanation.split("\n"), tag(:br)) %></p>
        </div>
      </div>
    </div>
    <div class="bottom-links mt-4">
      <div id="entry-button" class="entry-button">
        <% if @user == current_user %>
          <%= render 'users/user_index_modal', users: @job.entry_users %>
        <% elsif entry = @job.is_entered_by(current_user) %>
          <%= render 'entries/entered', entry: entry %>
        <% else %>
          <%= render 'entries/not_entered', job: @job %>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div>
          <%= link_to "求人広告の編集",
                      edit_job_path(@job),
                      id: "job_edit_button",
                      class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
