<div class="header">
  <div class="container">
    <!-- どの画面にいるか項目の下に線を引いて見る  -->
    <div class="left">
      <%= link_to "アモリル", root_path, class: "logo" %>
      <%= link_to "求人検索", jobs_path, class: "ml-2" %>
    </div>
    <div class="right">
      <% if user_signed_in? %>
        <%= link_to "メッセージ", '#' %>
        <%= link_to "プロフィール", user_path(current_user), class: "ml-2" %>
      <% else %>
        <%= link_to "アカウント作成", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path, class: "ml-2" %>
      <% end %>
      <!-- この下常時 -->
      <%= link_to "求人広告掲載", new_job_path, class: "ml-3" %>
    </div>
  </div>
</div>
