<% if user_signed_in? %>
  <a href="<%= messages_path %>" class="<%= show_as(dropdown_item) %>">
    メッセージ<span><%= show_messages_count %></span>
  </a>
  <%= link_to "プロフィール", user_path(current_user),
              class: "#{show_as(dropdown_item)} ml-sm-2" %>
<% else %>
  <%= link_to "アカウント作成", new_user_registration_path,
              class: "#{show_as(dropdown_item)}" %>
  <%= link_to "ログイン", new_user_session_path,
              class: "#{show_as(dropdown_item)} ml-sm-2" %>
<% end %>
<%= link_to "求人広告掲載", new_job_path,
            class: "#{show_as(dropdown_item)} ml-sm-3" %>
